In [2]:
from bs4 import BeautifulSoup
import os
import pandas as pd
import numpy as np

pd.set_option('display.max_row',50)

In [3]:
with open('boyhood.html', 'r') as f:
    content = f.read()

    soup = BeautifulSoup(content, 'html')
    #print(soup.prettify())

In [4]:
list = soup.find_all('tr')
df_list = []

for _ in list:
    try:
        title = _.find('td', class_ ="middle_col").a.text
        rating = _.find('span', class_ ="tMeterScore").text.strip('%')
        df_list.append({'title':title, 'rating':rating})

    except Exception as e:
        print(title + ': ' + str(rating) + ' ' + str(e))
    


df = pd.DataFrame(df_list, columns=['title', 'rating'])

Killjoys: 100 'NoneType' object has no attribute 'text'
Chelsea: 100 'NoneType' object has no attribute 'text'
Power: 75 'NoneType' object has no attribute 'text'
It: 89 'NoneType' object has no attribute 'text'
Home Again: 89 'NoneType' object has no attribute 'text'
9/11: 89 'NoneType' object has no attribute 'text'
Fallen: 100 'NoneType' object has no attribute 'text'
Blood Ransom: 42 'NoneType' object has no attribute 'text'
Killjoys: 100 'NoneType' object has no attribute 'text'
Chelsea: 100 'NoneType' object has no attribute 'text'
Power: 75 'NoneType' object has no attribute 'text'
Marvel's The Defenders: 75 'NoneType' object has no attribute 'a'
Marvel's The Defenders: 75 'NoneType' object has no attribute 'a'
Marvel's The Defenders: 75 'NoneType' object has no attribute 'a'
Marvel's The Defenders: 75 'NoneType' object has no attribute 'a'
Marvel's The Defenders: 75 'NoneType' object has no attribute 'a'
Marvel's The Defenders: 75 'NoneType' object has no attribute 'a'

In [5]:
df.head(10)

                    title rating
0                Room 104     84
1                  Narcos    100
2         Game of Thrones     96
3  Marvel's The Defenders     75
4          Rick and Morty    100
5                The Tick     92
6              The Sinner     94
7                The Mist     62
8              Twin Peaks     94
9                Insecure    100